// TODO: style the cards for desktop layout
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import './normalize';
@import './reset';

:root {
  // Colors
  --clr-primary: hsl(246, 80%, 60%);

  --clr-accent-light-orange: hsl(15, 100%, 70%);
  --clr-accent-soft-blue: hsl(195, 74%, 62%);
  --clr-accent-light-red: hsl(348, 100%, 68%);
  --clr-accent-lime-green: hsl(145, 58%, 55%);
  --clr-accent-violet: hsl(264, 64%, 52%);
  --clr-accent-soft-orange: hsl(43, 84%, 65%);

  --clr-neutral-800: hsl(226, 43%, 10%);
  --clr-neutral-600: hsl(235, 46%, 20%);
  --clr-neutral-500: hsl(235, 41%, 34%);
  --clr-neutral-400: hsl(235, 45%, 61%);
  --clr-neutral-200: hsl(236, 100%, 87%);
  --clr-neutral-0: hsl(0, 0%, 100%);

  // font sizes
  --fs-400: 1.125rem;

  // font weights
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;

  // font families
  --ff-sans: 'Rubik', sans-serif;

  // border radius
  --border-radius: 1.125rem;
}

body {
  font-family: var(--ff-sans);
  font-weight: var(--fw-light);
  font-size: var(--fs-400);
  color: var(--clr-neutral-0);
  line-height: 1;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 4em 1.25em;
  gap: 1.5em;
  background-color: var(--clr-neutral-800);
}

// profile card
.profile-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  background-color: var(--clr-neutral-600);

  &__info {
    padding: 1.75em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    border-radius: var(--border-radius);
    background-color: var(--clr-primary);
  }

  &__img {
    border: 3px solid var(--clr-neutral-0);
    border-radius: 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin: 0;
    font-size: 1.35em;
  }

  &__report {
    margin-bottom: 0.65em;
    font-size: 0.8em;
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-200);
  }

  &__nav > ul {
    padding: 1.5em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__timeframe {
    color: var(--clr-neutral-200);

    &:hover {
      color: var(--clr-neutral-0);
    }

    &[data-state='active'] {
      color: var(--clr-neutral-0);
    }
  }
}

// card
.card {
  position: relative;
  padding-top: 2.25em;
  border-radius: var(--border-radius);
  overflow: hidden;

  &__icon {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-15%) translateX(-15%);
  }

  &__info {
    z-index: 2;
    position: relative;
    padding: 1.75em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius);
    background-color: var(--clr-neutral-600);

    cursor: pointer;

    &:hover {
      background-color: var(--clr-neutral-500);
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
  }

  &__title {
    font-weight: var(--fw-medium);
  }

  &__current-time {
    font-size: 1.75em;
    font-weight: var(--fw-light);
  }

  &__secondary {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    gap: 1.25em;
  }

  &__previous-time {
    font-size: 0.825em;
    color: var(--clr-neutral-200);
  }

  &__kebab-icon {
    cursor: pointer;

    &:hover svg > path {
      fill: var(--clr-neutral-0);
    }
  }

  &--work {
    background-color: var(--clr-accent-light-orange);
  }
  &--play {
    background-color: var(--clr-accent-soft-blue);
  }
  &--study {
    background-color: var(--clr-accent-light-red);
  }
  &--exercise {
    background-color: var(--clr-accent-lime-green);
  }
  &--social {
    background-color: var(--clr-accent-violet);
  }
  &--self-care {
    background-color: var(--clr-accent-soft-orange);
  }
}
